{% extends 'admin.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
    <div class="main-panel">

        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Voir un service</a>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>nom</label>
                                            <div>
                                                {{ service.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'block/button.html.twig' with {
                    'name': 'service',
                    'entity': service,
                    'no_show': 1
                } %}
            </div>
        </div>
    </div>
{% endblock %}
